<footer style="font-size: 13px; text-align: center; line-height: 0.3">

  <p> Curioso sobre quem somos e como podemos mudar completamente sua forma de</p>
  <p> fazer entregas, acesse nossas redes sociais e descubra mais.</p>

  <div style="background-color: #7D40E7;
              width: 100%;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              ">
    <div style="width: 400px; height: 80px; display: flex; align-items: center;justify-content: space-around;">
      <a href="#">
        <img src='cid:twitter' alt="twitter" style="height: 40px;">
      </a>

      <a href="#">
        <img src='cid:instagram' alt="instagram" style="height: 40px;">
      </a>

      <a href="#">
        <img src='cid:linkedin' alt="linkedin" style="height: 40px;">
      </a>

      <a href="#">
        <img src='cid:youtube' alt="youtube" style="height: 40px;">
      </a>

      <a href="#">
        <img src='cid:facebook' alt="fecebook" style="height: 40px;">
      </a>
    </div>
  </div>

  <div style="line-height: 0.3; height: 10px; margin: 0; align-text: center; font-size: 11px">
    <p>Voçê recebeu este email de <strong>Fastfeet</strong></p>
    <p>Rua Fictícia S/N Bairro da Imaginação, 89.090-000, São Paulo, SP, Brasil</p>
  </div>
</footer>
