<div style="width: 470px; height: 80px; margin: 20px auto 40px;">
  <a href="#"> <img src="cid:fastfeet"> </a>
  <p style="color: #7D40E7; text-align: center;">Revolucionando sua experiência com entregas!</p>
</div> <br> <br> <br>
