<strong style="margin-left: 40px;">
  Olá
  deliver,
</strong>
<p style="width: 600px; height: 150px; margin: 40px auto;">
  {{ deliver }}, você tem uma nova entrega o aguardando. O produto a ser entregue
  será um/uma: <strong>{{product}}</strong>. Para saber mais sobre sua entrega, basta entrar na
  <i>deliver area</i> e todas as informações que você precisa saber estarão lá.
</p>
