<strong style="margin-left: 40px;">
  Olá
  deliver,
</strong>
<p style="width: 600px; height: 150px; margin: 40px auto;">
  {{ deliver }}, a entrega do produto <strong>{{product_name}}</strong> com o id de
  entrega <strong>{{product_id}}</strong> foi cancelada devido ao problema que você relatou.
</p>
